@charset "utf-8";


/* ================================================================================ *\
   HTML Elements
\* ================================================================================ */

/*------------------------------------------------------------*\
  Elements
\*------------------------------------------------------------*/
body, form, img, ul, ol, li, dl, dt, dd, table, th, td, p, iframe, h1, h2, h3, h4, h5, h6, blockquote, input, textarea, select{margin:0; padding:0;}

body{position:relative; margin:0; padding:0; color:#000; font-size:12px; font-family:"微软雅黑"; background:#fff url(../../img/admin/bg.jpg) no-repeat;}
ul, li{list-style-type:none;}
table{border-collapse:collapse; border-spacing:0;}
img, input, textarea, select{vertical-align:middle;}
img{border:none;}

/* Links */
a{color:#000; text-decoration:none; outline:none;}

input, textarea, select{color:#000; font-size:12px; font-family:"微软雅黑";}


/*------------------------------------------------------------*\
  Fonts
\*------------------------------------------------------------*/
.f-normal{font-weight:normal;}
.f-bold{font-weight:bold;}
.f-uline{text-decoration:underline;}

.f-white{color:#fff;}
.f-black{color:#000;}
.f-grey{color:#999;}
.f-blue{color:#2980b9;}
.f-red{color:#e74c3c;}


/* ================================================================================ *\
   Layout
\* ================================================================================ */

/*------------------------------------------------------------*\
  Composition
\*------------------------------------------------------------*/

/* Float | Align | Position
----------------------------------*/
.fl-l{float:left;}
.fl-r{float:right;}
.fl-clear{clear:both;}

.al-l{text-align:left;}
.al-r{text-align:right;}
.al-c{text-align:center;}

.pos-abs{position:absolute;}
.pos-fix{position:fixed;}


/*------------------------------------------------------------*\
  Module
\*------------------------------------------------------------*/

/* Header
----------------------------------*/
#header{height:50px; background:#000 url(../../img/admin/logo.png) left center no-repeat; border-bottom:1px #222 solid; box-sizing:border-box;}
#header .logo{float:left; width:200px; height:40px;}
#header .user{float:right;}
#header .user span{padding-right:20px; color:#fff; font-size:12px;}
#header .user a{display:inline-block; width:38px; height:50px; margin-left:-4px; vertical-align:middle; transition:all ease-in 0.2s; -webkit-transition:all ease-in 0.2s; -moz-transition:all ease-in 0.2s;}
#header .user a.setup{background:#000 url(../../img/admin/icon/user.png) center no-repeat;}
#header .user a.setup:hover{background-color:#FF3366;}
#header .user a.logout{background:#000 url(../../img/admin/icon/logout.png) center no-repeat;}
#header .user a.logout:hover{background-color:#FF3366;}
	
/* Aside
----------------------------------*/
#sidebar{position:fixed; z-index:1; top:50px; bottom:0; left:0; width:100px; background-color:#000;}

/* Main Navigation
----------------------------------*/
#main-nav{width:100px; border-top:1px #444 solid;}
#main-nav a{display:block; height:30px; padding-top:50px; color:#fff; font-size:14px; font-weight:bold; letter-spacing:1px; text-align:center; text-decoration:none; background:#000 center 10px no-repeat; transition:all ease-in 0.2s; -webkit-transition:all ease-in 0.2s; -moz-transition:all ease-in 0.2s;}
#main-nav a:hover{background-color:#FF3366;}
#main-nav .ico-home{background-image:url(../../img/admin/icon/n_home.png);}
#main-nav .ico-nav:nth-child(2){background-image:url(../../img/admin/icon/n_user.png);}
#main-nav .ico-nav:nth-child(3){background-image:url(../../img/admin/icon/n_wmz.png);}

/* Sub Navigation
----------------------------------*/
.sub-nav{display:none; position:absolute; top:0; left:101px; width:134px; background-color:#000;}
.sub-nav dt{margin:0; padding:0; height:36px; line-height:36px; color:#aaa; font-size:12px; text-indent:30px; background:#000 url(../../img/admin/icon/n_arrow.png) 10px center no-repeat;}
.sub-nav dd{font-size:14px;}
.sub-nav dd a{display:block; height:36px; line-height:36px; color:#fff; text-decoration:none; text-indent:20px; background-color:#000; transition:all ease-in 0.2s; -webkit-transition:all ease-in 0.2s; -moz-transition:all ease-in 0.2s;}
.sub-nav dd a:hover{background-color:#FF3366;}

/* Content
----------------------------------*/
#content{position:fixed; z-index:0; top:50px; bottom:0; left:100px; right:0; overflow:auto;}

/* Footer
----------------------------------*/
#footer{}

/* Header Bar | Footer Bar | Side
----------------------------------*/
.h-bar{clear:both; height:40px; line-height:40px; margin-bottom:8px;}
.f-bar{clear:both; padding-top:8px;}
.h-bar:after, .f-bar:after{display:block; clear:both; content:"";}

.l-side{float:left;}
.r-side{float:right;}
.r-side ul li{display:inline-block; margin-left:4px;}

/* Section
----------------------------------*/
.section{width:90%; margin:20px auto; padding:10px; background-color:#fff; box-shadow:0 0 3px rgba(0, 0, 0, 0.3);}

/* Divider
----------------------------------*/
.divider{clear:both;}
.divider.gap{padding:8px 0;}


/* ================================================================================ *\
   UI
\* ================================================================================ */

/* Under Line
----------------------------------*/
.u-line{margin:10px 0; border-top:1px #eee dotted;}

/* Breadcrumb
----------------------------------*/
.breadcrumb{padding-left:4px;}
.breadcrumb span{display:inline-block; color:#999; font-size:14px; font-weight:bold;}
.breadcrumb span:after{padding:0 4px; font-weight:normal; content:" > ";}
.breadcrumb span:last-child:after{content:"";}
.breadcrumb span.curr{color:#000;}

/* Form List
----------------------------------*/
.formlist{clear:both; width:100%; padding:5px 8px; background-color:#fff;}
.formlist tr:nth-child(odd){background-color:#f9f9f9;}
.formlist tr:hover{background-color:#fefacb;}
.formlist th{height:32px; line-height:32px; padding:2px 5px; color:#666; font-size:12px; font-weight: normal; text-align:left; border:1px #ccc solid; background-color:#f9f9f9;}
.formlist th:first-child{border-left:none;}
.formlist th:last-child{border-right:none;}
.formlist th a, .list th span{padding: 0px 8px;}
.formlist th.sort{background-repeat:no-repeat; background-position:center right;}
.formlist th.sort:hover{background-color:#fefacb; cursor:pointer;}
.formlist th.sort.up{background-image:url(../../img/admin/icon/sort_up.gif);}  /* 箭头向上 */
.formlist th.sort.down{background-image:url(../../img/admin/icon/sort_down.gif);}  /* 箭头向下 */
.formlist td{line-height:40px; padding-left: 5px; border-bottom:1px #ddd solid;  white-space:nowrap; overflow:hidden;}
.formlist td a{color:#2980B9;}
.formlist td a:hover{color:#3498DB;}
.formlist td img{vertical-align:middle;}

.formlist td .btn{display:inline-block; width:24px; height:24px; background-repeat:no-repeat; vertical-align:middle;}
.formlist td .btn.ico-view{background-image:url(../../img/admin/icon/view.png);}
.formlist td .btn.ico-edit{background-image:url(../../img/admin/icon/edit.png);}
.formlist td .btn.ico-del{background-image:url(../../img/admin/icon/del.png);}
.formlist td .btn.ico-lock{background-image:url(../../img/admin/icon/lock.png);}
.formlist td .btn.ico-unlock{background-image:url(../../img/admin/icon/unlock.png);}

/* Form Table
----------------------------------*/
.formtable{clear:both; width:100%; margin-bottom:10px; background-color:#fff; border-collapse:collapse; border-spacing:0; table-layout:fixed;}
.formtable th{width:10%; line-height:24px; padding:8px; text-align:right; vertical-align:top; background-color:#f5f5f5; border:1px #ddd solid; border-left:none;}
.formtable td{width:90%; padding:8px; vertical-align:top; border:1px #ddd solid; border-right:none;}

/* Button
----------------------------------*/
.button{display:inline-block; height:36px; line-height:36px; padding:0 30px; color:#fff; font-size:12px; font-weight:bold; font-family:"微软雅黑"; vertical-align:middle; background-color:#FF3366; border-radius:4px; border:none;}
.button.small{height:24px; line-height:24px; padding:0 10px; font-size:12px; font-weight:normal;}

.button.submit{font-size:14px; background-color:#34495E;}
.button.del{width:24px; height:24px; padding:0; background:url(../../img/admin/icon/remove.png) center no-repeat;}

/* Input
----------------------------------*/
.text{height:24px; line-height:24px; padding:0 4px; border:1px #ddd solid;}
.textarea{border:1px #ddd solid;}
.select{height:26px; line-height:26px; border:1px #ddd solid;}
.file{width:150px;}

/* Pager
----------------------------------*/
.pager{float: right; padding-top: 5px; font-size:12px;}
.pager strong, .pager a{display:inline-block; min-width:20px; height:20px; line-height:20px; margin:0 2px; text-align:center; vertical-align:middle; border-radius:50%;}
.pager strong{color:#fff; background-color:#000;}
.pager a{background-color:#fff;}

/* Icons
----------------------------------*/
.icon{display:inline-block; width:24px; height:24px; background-color:#666;}
.icon.del{background-color:#F00;}

/* Tab Box
----------------------------------*/
.tab-box{}
.tab-box .tabs{}
.tab-box .tabs a{display:inline-block; height:32px; line-height:32px; margin-right:-3px; padding:0 30px; color:#999; background-color:#eee;}
.tab-box .tabs a.curr{color:#fff; background-color:#1ABC9C;}
.tab-box .tabs a:first-child{border-top-left-radius:4px; border-bottom-left-radius:4px;}
.tab-box .tabs a:last-child{border-top-right-radius:4px; border-bottom-right-radius:4px;}
.tab-box .tab-item{display:none; padding-top:10px;}
.tab-box .tab-item.curr{display:block;}

/* Dialog
----------------------------------*/
.dialog{display:none; position:absolute; z-index:1001; min-width:300px; background-color:#fff; border:4px rgba(0, 0, 0, 0.1) solid; -moz-background-clip:content; -webkit-background-clip:content; background-clip:content-box;}
.dialog .head{line-height:40px; padding:0 8px 0 16px;}
.dialog .head .title{color:#000; font-size:14px; font-weight:bold;}
.dialog .head .closeButton{float:right; display:none; width:24px; height:24px; margin-top:8px; background:url(../../img/admin/icon/delete.png) no-repeat center; cursor:pointer;}
.dialog .body{padding:10px 20px; overflow:hidden;}
.dialog .body .textContent{line-height:24px;}
.dialog.alert .body .textContent{font-size:14px; font-weight:bold; text-align:center;}
.dialog-shadow{position:fixed; z-index:1000; top:0; bottom:0; left:0; right:0; background-color:#000; -moz-opacity:0.5; opacity:0.5; filter:alpha(opacity=50);}

/* Popup
----------------------------------*/
#popup, #overlay{position:fixed; top:0; left:0; right:0; bottom:0;}
#popup{z-index:1001; background-color:#fff;}
#overlay{z-index:1000; background-color:rgba(0, 0, 0, 0.5);}

/* Error
----------------------------------*/
.error{padding-left:10px; color:#ea6153;}


/* ================================================================================ *\
   Other
\* ================================================================================ */

/* Login
----------------------------------*/
.login{background-color:#fcfafd; background-image:none;}
.login #loginForm{width:700px; height:220px; margin:0 auto; padding-top:18%;}
.login .logo{float:left; width:300px; height:220px; background:url(../../img/admin/login_logo.png) center no-repeat;}
.login .loginTable{float:right; width:400px; height:220px; font-size:14px; table-layout:fixed;}
.login .loginTable th{width:25%;}
.login .loginTable td{width:75%;}
.login .loginTable .formText{height:32px; line-height:33px; font-size: 16px; padding-left: 10px; background-color: #fff; border: 1px solid #bfbdbf; border-radius: 3px;}
.login .captcha{width:90px; text-transform: uppercase;}
.login .captchaImage{margin-left: 5px; vertical-align: middle; cursor: pointer;}
.login .submitButton{width: 140px;height: 40px;cursor: pointer;line-height: 40px;background: url(../../img/admin/btns.png?20140225-1623) 0 0 no-repeat;display: inline-block;text-align: center;font-size: 16px;letter-spacing: 2px;color: #fff;font-family: "Microsoft YaHei";border:none;}

/* Home
----------------------------------*/

/* Brand Logo */
.brand-logo{display:block; width:320px; height:320px; margin:15% auto 0 auto; background:url(../../img/admin/brand_logo.png) no-repeat; animation:brandAnt ease 2s; -moz-animation:brandAnt ease 2s; -webkit-animation:brandAnt ease 2s;}

@keyframes brandAnt {
	from {margin-top:2%;}
	to {margin-top:15%;}
}

@-moz-keyframes brandAnt {
	from {margin-top:2%;}
	to {margin-top:15%;}
}

@-webkit-keyframes brandAnt {
	from {margin-top:2%;}
	to {margin-top:15%;}
}

/* System Info */
.sys-info{position:absolute; right:0; bottom:0; line-height:40px;}
.sys-info dt{display:inline-block;}
.sys-info dd{display:inline-block; padding-right:20px;}

/* 插入模块【弹出框】
----------------------------------*/
#popInsertMod{display:none;}
#popInsertMod .formtable th{width:30%;}
#popInsertMod .formtable td{width:70%;}
#popInsertMod .formtable td input{width:180px;}

/* 插入模块【弹出框】
----------------------------------*/
.popModClass{display:none;}
.popModClass .formtable th{width:30%;}
.popModClass .formtable td{width:70%;}
.popModClass .formtable td input{width:180px;}

/* 插入商品【弹出框】
----------------------------------*/
#popInsertGoods{display:none;}
#popInsertGoods .formtable{}
#popInsertGoods .formtable th{width:15%;}
#popInsertGoods .formtable td{width:85%;}
#popInsertGoods [data-role='uploadImage'] img{width:80px;}
#popInsertGoods [data-role='uploadImage']:after{color:#999; content:" （点击上传图片）";}

/* 插入商品【弹出框】
----------------------------------*/
#popInsertProducts{display:none;}
#popInsertProducts .formtable{}
#popInsertProducts .formtable th{width:15%;}
#popInsertProducts .formtable td{width:85%;}
#popInsertProducts [data-role='uploadImage'] img{width:80px;}
#popInsertProducts [data-role='uploadImage']:after{color:#999; content:" （点击上传图片）";}

/* 上传图片【弹出框】
----------------------------------*/
#popUploadImg{display:none; position:absolute; z-index:1001; top:80px; left:0; width:100%;}
#popUploadImg .wrap{position:relative; width:800px; margin:0 auto; padding:20px; background-color:#f9f9f9;}
#popUploadImg .hd{height:32px; line-height:32px;}
#popUploadImg .bd{padding:8px 0;}
#popUploadImg .fd{text-align:center;}
#popUploadImg .title{font-size:14px; font-weight:bold;}
#popUploadImg .l-side{width:280px; padding-top:16px;}
#popUploadImg .r-side{width:500px;}
#popUploadImg .drag-area{width:100%; height:260px; line-height:260px; margin-top:8px; color:#999; text-align:center; border:2px #ddd dashed;}
#popUploadImg .drag-area-hover{color:#000; border-color:#06F; box-shadow:inset 0 0 2px rgba(0, 0, 0, 0.5);}
#popUploadImg .preview-area{height:320px; overflow:hidden; overflow-y:auto;}
#popUploadImg .preview-area .file-item{float:left; position:relative; width:140px; height:140px; margin:10px; padding:5px; overflow:hidden; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing: border-box;}
#popUploadImg .preview-area .file-item img{width:100%;}
#popUploadImg .preview-area .file-item p{position:absolute; width:100%; left:0; bottom:0; line-height:24px; color:#fff; text-indent:5px; background-color:rgba(0, 0, 0, 0.5); text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
#popUploadImg .preview-area .file-item .del-btn{display:block; position:absolute; top:8px; right:8px; width:24px; height:24px; background:rgba(255, 255, 255, 0.3) url(../../img/admin/icon/remove.png) center no-repeat; border-radius:50%;}
#popUploadImg .info-area{line-height:24px;}
#popUploadImg .close-btn{position:absolute; top:16px; right:16px; width:24px; height:24px; text-indent:-9999px; background:url(../../img/admin/icon/delete.png) center no-repeat; cursor:pointer;}
#popUploadImg .upload-loading{height:250px; background:url(../../img/admin/loading.gif) center no-repeat;}
#popUploadImg .upload-progress{display:none; position:absolute; width:80px; height:30px; line-height:30px; top:55px; left:35px; color:#fff; text-align:center; background-color:rgba(0,0,0,.6); border-radius:8px;}

/* 普通模板
----------------------------------*/
#commonArticle{}




/* 测试题
----------------------------------*/

/* Test Table */
.testtable{display:none;}
.testtable.curr{display:table;}

/* Subject Box */
.subject-box{}
.subject-box:after{display:block; clear:both; content:"";}
.subject-box .item{position:relative; float:left; width:350px; margin:0 10px 10px 0; background-color:#f5f5f5;}
.subject-box .item h2{width:100%; height:32px; line-height:32px; color:#666; font-size:12px; font-weight:bold; text-indent:16px; background-color:#ddd; border-bottom:1px #ccc solid;}
.subject-box .item h3{height:32px; line-height:32px; font-size:14px;}
.subject-box .item .btn-del{position:absolute; top:0; right:0; display:inline-block; width:32px; height:32px; background:url(../../img/admin/icon/delete.png) center no-repeat; border-left:1px #ccc solid;}
.subject-box .item .question{padding:16px;}
.subject-box .item .question ol{padding:10px 0; border-bottom:1px #ddd solid;}
.subject-box .item .question ol:after{display:block; clear:both; content:"";}
.subject-box .item .question ol:last-child{padding-bottom:0; border-bottom:none;}
.subject-box .item .question li{position:relative;}
.subject-box .item .question li p{padding:5px 0;}
.subject-box .item .question li .del{position:absolute; top:5px; right:0;}
.subject-box .item .result{padding:16px;}
.subject-box .item .result p{padding:5px 0;}
.subject-box .item .result .images-area{}

/* 插入唯美资讯链接【弹出框】
----------------------------------*/
#addWeiMeiLinkDialog{display: none;}
#addProductsDivDialog{display: none;}
#subjectmoduleDialog{display: none;}
#urlmoduleDialog{display: none;}
#couponmoduleDialog{display: none;}


/* 活动页面【弹出框】
----------------------------------*/
#editActivityUserInfo{display: none;}
#filterBlackListDialog{display: none;}

/**活动页模板**/
.activity h1{font-size: 12px;border-left: solid #E6B954 2px;height: 14px;line-height: 15px;text-indent: 7px;}
